* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
}

#logo {
  width: 200px;
  height: 80px;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  align-items: center;
  border-bottom: 3px solid #d5bbbb;
}

.right {
  display: flex;
  gap: 30px;
}

.right img {
  width: 140px;
  height: 65px;
  cursor: pointer;
}
#company{
  width: 95px;
  height: 70px;
  margin-left: 22px;
}

.bottomNav {
  width: 100%;
  height: 25px;
  background-color: blueviolet;
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.bottomNav .navBox {
  color: white;
  font-weight: 600;
  cursor: pointer;
  padding: 0 30px;
  transition: 0.5s;
  position: relative;
}

.bottomNav .navBox p{
  position: relative;
  z-index: 100;
}

button{
  cursor: pointer;
}

.bottomNav .navBox .contentBox {
  position: absolute;
  background: rgb(12, 12, 96);
  top: 400%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  transition: 0.5s ease-in-out;
  width: 11rem;
  z-index: 99;
}

.bottomNav .navBox .contentBox .item {
  height: 2rem;
  display: flex;
  align-items: center;
  border-bottom: 2px solid white;
  padding: 20px 1rem;
  width: 100%;
  transition: 0.5s;
}

.bottomNav .navBox .contentBox .item:nth-child(1)
{
  margin-top: 30px;
}

.bottomNav .navBox .contentBox .item:hover{
  background: rgb(57, 57, 240);
}
.item a{
  text-decoration: none;
  color: white;
}
.search{
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./picture/new\ backgrond.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}
.search form{
  border-radius: 35px;
  box-shadow: black 0px 3px 6px, blueviolet 0px 3px 6px;
}
.search form input{
  width: 45rem;
  height: 3rem;
  border-radius: 35px 0 0 35px;
  padding: 0 30px;
  font-size: 1rem;
  border: 1px solid;
  outline: none;
  transition: 0.5s;
}
#submit{
  width: 3rem;
  height: 3.2rem;
  border-radius: 0 35px 35px 0;
  border: 1px solid black;
  font-size: 1rem;
  background: linear-gradient(45deg, green, yellow);
  color: white;
  transition: 0.7s;
}
.search form input:hover{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
#submit:hover{
 background: linear-gradient(45deg,white, blue);
 transition-delay: 0.5s;
}
.pdfBox1, .pdfBox2, .pdfBox3{
  width: 100%;
  padding: 1rem;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin-top: 4px;
  opacity: 1;
}
#pdfImg{
  width: 100px;
}
.pdfs{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 2rem;
  flex-wrap: wrap;
  gap: 1rem;
}
.pdfs .card{
  background: white;
  width: 185px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 0;
  border-radius: 10px;
  border: 2px solid white;
  background: transparent;
  transition: 0.4s;
}

.pdfs a{
  color: white;
}
.pdfs .card:hover{
  transform: scale(1.05);
}

#button{
  height: 168px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  text-align: center;
  background: silver;
  position: absolute;
  top: 38px;
  right: 0;
  font-weight: bold;
  transition: 0.5s;
}
.pdfs .card h5{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
}
a{
  text-decoration: none;
  color: white;
}
#button:hover{
  background: #c49090;
}
.pdfBox1{
  background-image: url("https://beeindia.gov.in/sites/default/files/styles/basic_page_banner/public/page/images/massage_0_0.jpg?itok=_W14bYMo");
  margin-top: 5rem;
}
.pdfBox2{
  background-image: url("https://www.ciiblog.in/wp-content/uploads/2023/06/Cover-23-defence.png");
}
.pdfBox3{
  background-image: url("https://akm-img-a-in.tosshub.com/businesstoday/images/story/202401/65a0999ad03ce-polycab-india-share-price-today-while-the-post-search-proceedings-will-take-its-own-course--polycab-124457215-16x9.jpg?size=948:533");
}

footer {
  background-color: #6451ce;
  color: white;
  display: flex;
  gap: 10%;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 1rem;
}

.box {
  margin: 10px 0;
  height: 190px;
  padding: 16px;
  box-sizing: border-box;
}

footer .box ul {
  list-style: none;
}

footer .box h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  text-align: center;
}

footer .box ul li {
  font-size: 16px;
  margin: 10px;
  font-weight: lighter;
  text-align: center;
  cursor: pointer;
  font-weight: 400;
  color:#f4e9e9;;
}
footer .box ul li a:hover{
  background: black;
}
#icons{
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
}
footer .box ul li a i{
  font-size: 25px;
}